* {
    margin: 0;
    padding: 0;
    transition: ease 0.05s;
}

body { 
    position: absolute;
    background-image: url('https://giffiles.alphacoders.com/209/209037.gif');
    background-size: cover;
    
    
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}

#backscreen {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 9;
}

#console_output {
    padding: 15px 15px 15px 20px;
    color: rgb(0, 202, 0); 
    font-weight: 600;
}

.fat_font {
    font-size: 20px;
}

.green_background {
    background-color: rgb(33, 252, 117) !important;
}

.full_height {
    height: calc(100% - 70px);
}

.h1_center {
    text-align: center;
    color: #fff;
}

.center_text {
    text-align: center;
}

.pop_up {
    border-radius: 4px;
}

.pop_up-medium,
.pop_up-big {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;

}

.pop_up-medium {
    width: 380px;
    height: 400px;

    margin-top: -200px; /* Negative half of height. */
    margin-left: -190px; /* Negative half of width. */
}

.pop_up-big {
    width: 900px;
    height: 550px;

    margin-top: -275px; /* Negative half of height. */
    margin-left: -450px; /* Negative half of width. */
}

.pop_up-medium header {
    width: 100%;
    height: 50px;
}

.pop_up-medium header button {
    height: 40px;
}

#audio_button {
    position: absolute;
    z-index: 10;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.small {
    width: 50px;
}

.green_background {
    background-color: rgb(29, 99, 56);
}

.green_yarro {
    border-color: rgb(29, 99, 56);
}

.black_background-opacity {
    background-color: rgba(0, 0, 0, 0.932);
}

.white_background-opacity {
    background-color: rgba(255, 255, 255, 0.753);
}

.white_border-opacity {
    border: solid 2px rgba(255, 255, 255, 0.76);
}

.grey_background {
    background-color: rgb(41, 41, 41);
}

.white_color-opacity {
    color: rgba(255, 255, 255, 0.76);
}

.flex_usual {
    display: flex;
}

.flex_between {
    justify-content: space-between;
}

.flex_horizontal {
    flex-direction: column;
}


.flex_end {
    justify-content: flex-end;
}

.center{
    margin: auto;
    align-items: center;
}

.center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group_custom{
    width: 350px;
}

.input-group_custom > button {
    margin:auto;
    margin-top: 13px;
}

.box_background{
    width: 850px;
    height: 520px;
    border: solid 2px rgba(255, 255, 255, 0.76);
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.904);
}

.box_background-small{
    width: 450px;
    height: 520px;
    border-radius: 9px;
}

.bottom_buttons{
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.bottom_buttons-container{
    width: 175px;
}

.bottom_buttons-container-2{
    width: 190px;
}

.bottom_buttons-container-3{
    width: 240px;
}

.bottom_buttons-container-4{
    width: 200px;
}

.bottom_buttons-container-5 {
    width: 150px;
}

.password{
    width: 280px;
}

.box_small {
    width: 150px;
    height: 50px;
}

.graphic_container {
    position: relative;
    width: 50%;
    height: 100%;
}

.position_absolute {
    position: absolute;
}

.line_horizontal_long,
.line_horizontal,
.round_button,
.line_vertical,
.line_vertical_short {
    background-color: rgb(95, 95, 95);
}

.line_horizontal_long,
.line_horizontal {
    height: 5px;
}

.line_horizontal_long {
    width: 250px;
    height: 5px;
}

.line_horizontal {
    width: 200px;
    height: 5px;
}

.round_button {
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.line_vertical,
.line_vertical_short {
    width: 5px;
}

.line_vertical {
    height: 240px;
}

.line_vertical_short {
    height: 20px;
    border-radius: 50px;
}

.pos_line_hr_lg,
.pos_line_hr_lg-1,
.pos_line_hr_lg-2,
.pos_line_hr_lg-3,
.pos_line_hr_lg-4,
.pos_line_vr {
    left: 200px
}

.pos_line_vt_st,
.pos_line_vt_st-1,
.pos_line_vt_st-2,
.pos_line_vt_st-3,
.pos_line_vt_st-4 {
    left: 450px
}

.pos_line_hr_lg {
    top: 130px
}

.pos_line_hr_lg-1 {
    top: 190px
}

.pos_line_hr_lg-2 {
    top: 250px
}

.pos_line_hr_lg-3 {
    top: 310px
}

.pos_line_hr_lg-4 {
    top: 370px
}

.pos_line_vr {
    top: 130px
}

.pos_line_vt_st {
    top: 122px
}

.pos_line_vt_st-1 {
    top: 182px
}

.pos_line_vt_st-2 {
    top: 242px
} 

.pos_line_vt_st-3 {
    top: 302px
}

.pos_line_vt_st-4 {
    top: 362px
}

.pos_line_hr {
    top: 250px;
}

.pos_round_bt {
    top: 247px;
}

.dashboard_left {
    width: 23%;
    height: 100vh;

    background-color: rgb(36, 36, 36);
    align-items: center;
}

.dashboard_right {
    width: 77%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    align-items: center;
}

.pos_round_bt-2 {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    z-index: 1;
    animation-duration: 1.3s;               
}

.pos_round_bt-2 {
    top: 246px;
}

.line_1 {
    animation-name: line_1;  
}

.line_2 {
    animation-name: line_2;  
}

.line_3 {
    animation-name: line_3;  
}

.line_4 {
    animation-name: line_4;  
}

.line_5 {
    animation-name: line_5;  
}


.dashboard_diagramm,
.dashboard_down {
    width: calc(100% - 100px);
}

.dashboard_diagramm {
    background-color: rgb(36, 36, 36);
    height: 250px;
    border-radius: 9px;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
}

.dashboard_nav {
    width: 85%;
    height: 50px;
    border-radius: 12px;

    background-color: rgba(255, 255, 255, 0.034);
    margin-top: 20px;
}

.dashboard_down {
    height: 65vh;
    margin-top: 30px;
    justify-content: space-between;
}

.dashboard_down div {
    width: 500px;

    font-size: 1.1em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.719);
}

.dashboard_element {
    background-color: rgb(36, 36, 36);
    height: 60px;
    border-radius: 6px;
    margin-bottom: 15px;
}

@keyframes line_1 {
    0%{left: 0px; top: 246px}
    20%{left: 197px; top: 246px}
    40%{left: 197px; top: 127px}
    60%{left: 447px; top: 127px}
    100%{left: 447px; top: 127px}
}

@keyframes line_2 {
    0%{left: 0px; top: 246px}
    20%{left: 197px; top: 246px}
    40%{left: 197px; top: 187px}
    60%{left: 447px; top: 187px}
    100%{left: 447px; top: 187px}
}

@keyframes line_3 {
    0%{left: 0px; top: 246px}
    20%{left: 197px; top: 246px}
    40%{left: 197px; top: 247px}
    60%{left: 447px; top: 247px}
    100%{left: 447px; top: 247px}
}

@keyframes line_4 {
    0%{left: 0px; top: 246px}
    20%{left: 197px; top: 246px}
    40%{left: 197px; top: 307px}
    60%{left: 447px; top: 307px}
    100%{left: 447px; top: 307px}
}

@keyframes line_5 {
    0%{left: 0px; top: 246px}
    20%{left: 197px; top: 246px}
    40%{left: 197px; top: 367px}
    60%{left: 447px; top: 367px}
    100%{left: 447px; top: 367px}
}